<md-card class="example-card">
  <md-card-content>
    <md-list>
      <md-list-item>
        <button md-button (click)="signInAnonymously()" type="button">Anonymously</button>
      </md-list-item>
      <md-list-item>
        <button md-button (click)="signInWithGithub()" type="button">GitHub</button>
      </md-list-item>
      <md-list-item>
        <button md-button (click)="signInWithGoogle()" type="button">Google</button>
      </md-list-item>
      <md-list-item>
        <button md-button (click)="signInWithTwitter()" type="button">Twitter</button>
      </md-list-item>
      <md-list-item>
        <button md-button (click)="signInWithFacebook()" type="button">Facebook</button>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>