<div style="height:900px; overflow: auto">
  <md-card class="trip-card" *ngFor="let trip of trips" (click)="onSelect(trip)">
    <md-card-header>
      <md-icon md-card-avatar class="driver-avatar">account_circle</md-icon>
      <md-card-subtitle>Driver</md-card-subtitle>
      <md-card-title>{{trip.driver.username}}</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-card-subtitle>Passengers</md-card-subtitle>
      <!--<md-grid-list cols="4" rowHeight="30px">-->
        <span class="passenger" *ngFor="let passenger of trip.passengers">
          <md-icon class="passenger-avatar">account_circle</md-icon> {{passenger.username}}
        </span>
      <!--</md-grid-list>-->
    </md-card-content>
  </md-card>
</div>

<button md-fab class="fab" (click)="newTrip()">
  <md-icon>add</md-icon>
</button>