<md-card class="trip-card" *ngFor="let trip of trips">
  <md-card-header>
    <img md-card-avatar src="assets/img/avatar.jpg" alt="driver avatar"/>
    <md-card-subtitle>Driver</md-card-subtitle>
    <md-card-title>{{trip.driver.username}}</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-card-subtitle>Passengers</md-card-subtitle>
    <md-grid-list cols="4" rowHeight="30px">
      <md-grid-tile style="background-color: gray; color: white" *ngFor="let passenger of trip.passengers">
        {{passenger.username}}
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
</md-card>

<button md-fab class="fab">
  <md-icon>add</md-icon>
</button>